$primary: #9b6d24;
$primaryBlue: #0e2b5c;
$primaryYellow: #fdb900;
$bodyTextColor: #5166a7;
$mainLinkTextSize: 1.6rem;
$bodyTextSize: 1.6rem;
$fontFamliyTitle: "Open Sans", sans-serif;
$fontFamliyText: "Poppins", sans-serif;

.footerMain {
  color: white;
  .container {
    padding: 12rem 0;
  }
  .copyright {
    height: 5rem;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.6rem;
    transition: 0.3s;
    a {
      text-decoration: none;
      margin-left: 1rem;
      color: white;
      &:hover {
        color: $primaryYellow;
      }
    }
  }
}
