$primaryBlue: #1b2a6d;
$primaryRed: #eb1c24;
$primaryYellow: #db7e01;
$bodyTextColor: #5166a7;
$mainLinkTextSize: 1.6rem;
$bodyTextSize: 1.6rem;
$fontFamliyTitle: "Open Sans", sans-serif;
$fontFamliyText: "Poppins", sans-serif;

.footerMain {
  color: white;
  width: 100%;
  .container {
    padding: 12rem 0;
    .wrapper {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .subscribe {
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;
        width: 100%;
        .content {
          background-color: $primaryBlue;
          padding: 3rem 1rem;
          width: 100%;
          position: relative;
          .translateWrapper {
            position: absolute;
            top: 0rem;
            left: 0;
            // height: 15rem;
            width: 100%;
            padding: 2rem 1rem;
            padding-bottom: 0;
            background-color: inherit;
            transform: translateY(-100%);
            z-index: 10000;
            display: flex;
            flex-direction: column;
            border-top: 1rem solid $primaryBlue;
            // background-color: green;
            i {
              font-size: 4rem;
              color: $primaryRed;
            }
            span {
              font-size: 2.4rem;
              margin: 2rem 0;
            }
          }
          input {
            outline: none;
            height: 4rem;
            border: 0.1rem solid white;
            background-color: transparent;
            padding-left: 1rem;
            font-size: 1.6rem;
            width: 100%;
            &:valid {
              //if input field is valid
              + .ctaWrapper {
                .slider {
                  width: 100%;
                }
                span {
                  color: white;
                }
              }
            }
          }

          .ctaWrapper {
            // height: 3rem;
            background-color: #f7f7f7;
            width: 15rem;
            margin-top: 3rem;
            padding: 1rem 0;
            cursor: pointer;
            position: relative;
            border-radius: 0.5rem;
            span {
              font-size: 1.6rem;
              width: 100%;
              text-align: center;
              width: 15rem !important;
              display: flex;
              justify-content: center;
              z-index: 5;
              position: relative;
              color: #191919;
              transition: 0.3s;
              border-radius: 0.5rem;
            }
            .slider {
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 100%;
              background-color: $primaryRed;
              z-index: 1;
              transition: 0.3s;
              border-radius: 0.5rem;
            }
            &:hover {
              .slider {
                width: 15rem;
              }
              span {
                color: white;
              }
            }
          }
        }
      } //subscribes ends
      .aboutUs {
        font-size: 1.4rem;
        // order: 3;
        color: rgba($color: #ffffff, $alpha: 0.9);
        h6 {
          font-size: 1.8rem;
          margin-bottom: 2rem;
          color: white;
          span {
            color: $primaryRed;
            font-size: 2.4rem;
          }
        }
      }
      .quickLinks {
        // order: 3;
        h6 {
          font-size: 1.8rem;
          margin-bottom: 2rem;
          &::after {
            content: "";
            height: 0.3rem;
            width: 2.5rem;
            background-color: $primaryRed;
            display: block;
            margin-top: 0.5rem;
          }
        }
        ul li {
          margin-bottom: 1rem;
        }
        a {
          color: rgba($color: #ffffff, $alpha: 0.9);

          font-size: 1.4rem;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            color: $primaryRed;
          }
        }
      } //links
      .address {
        h6 {
          font-size: 1.8rem;
          margin-bottom: 2rem;
          &::after {
            content: "";
            height: 0.3rem;
            width: 2.5rem;
            background-color: $primaryRed;
            display: block;
            margin-top: 0.5rem;
          }
        }
        p {
          font-size: 1.4rem;
          color: rgba($color: #ffffff, $alpha: 0.9);
          span {
            color: $primaryRed;
            letter-spacing: 0.1rem;
          }
        }
      }
    }
  }
}
.copyright {
  height: 5rem;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.6rem;
  transition: 0.3s;
  a {
    text-decoration: none;
    margin-left: 1rem;
    color: white;
    &:hover {
      color: $primaryYellow;
    }
  }
}

@media screen and (max-width: 992px) {
  .footerMain .container .wrapper {
    .quickLinks,
    .address {
      margin-top: 3rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .footerMain .container .wrapper {
    .aboutUs {
      margin-top: 3rem;
    }
  }
}
