.header .nav .topBar {
  width: 100%;
  height: 4rem;
  color: white;
  border-bottom: 0.1rem solid #eeeeee;
}

.header .nav .topBar .topWrapper {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.header .nav .topBar .topWrapper .ulTopLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  margin: 0;
}

.header .nav .topBar .topWrapper .ulTopLeft .ulTopLeftItem {
  padding: 0 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .topBar .topWrapper .ulTopLeft .ulTopLeftItem a {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}

.header .nav .topBar .topWrapper .ulTopLeft .ulTopLeftItem i {
  color: #fdb900;
  margin-right: 1.5rem;
  font-size: 1.6rem;
}

.header .nav .topBar .topWrapper .ulTopLeft .ulTopLeftItem:nth-child(2) {
  border-left: 0.1rem solid #eeeeee;
  border-right: 0.1rem solid #eeeeee;
}

.header .nav .topBar .topWrapper .ulTopLeft .ulTopLeftItem:hover a {
  color: #fdb900;
}

.header .nav .topBar .topWrapper .ulTopRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  margin: 0;
}

.header .nav .topBar .topWrapper .ulTopRight .ulTopRightItem {
  padding: 0.5 0.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .topBar .topWrapper .ulTopRight .ulTopRightItem a {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}

.header .nav .topBar .topWrapper .ulTopRight .ulTopRightItem i {
  color: inherit;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .nav .topBar .topWrapper .ulTopRight .ulTopRightItem:hover i {
  color: #fdb900;
}

.header .nav .bottomBar {
  background-color: transparent;
  height: 10rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .nav .bottomBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.header .nav .bottomBar .brand {
  margin-right: 10rem;
}

.header .nav .bottomBar .brand img {
  width: 100%;
}

.header .nav .bottomBar .navToggler {
  display: none;
  font-weight: 1.6rem;
  color: white;
}

.header .nav .bottomBar .ulLeft {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .bottomBar .ulLeft .mainNavLink {
  font-size: 1.8rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
  position: relative;
}

.header .nav .bottomBar .ulLeft .mainNavLink > a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
}

.header .nav .bottomBar .ulLeft .mainNavLink > a i {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.header .nav .bottomBar .ulLeft .mainNavLink > a::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.3rem;
  width: 0%;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .nav .bottomBar .ulLeft .mainNavLink:hover a {
  color: #fdb900;
}

.header .nav .bottomBar .ulLeft .mainNavLink:hover a::after {
  background-color: #fdb900;
  width: 100%;
}

.header .nav .bottomBar .ulLeft .mainNavLink .dropDown {
  position: absolute;
  top: 6rem;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 20rem;
  -webkit-box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.1);
  z-index: -10 !important;
  height: 0;
  overflow: hidden;
}

.header .nav .bottomBar .ulLeft .mainNavLink .dropDown a {
  color: #121212;
}

.header .nav .bottomBar .ulLeft .mainNavLink:hover .dropDown {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 7rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3rem 1rem;
  background-color: #ffffff;
}

.header .nav .bottomBar .ulLeft .mainNavLink:hover .dropDown .dropDownItem {
  margin-bottom: 1.5rem;
  width: 100%;
  position: relative;
}

.header .nav .bottomBar .ulLeft .mainNavLink:hover .dropDown .dropDownItem a {
  color: #5166a7;
  text-decoration: none;
  margin-left: 1rem;
  padding-right: 1.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
}

.header .nav .bottomBar .ulLeft .mainNavLink:hover .dropDown .dropDownItem a:hover {
  color: #fdb900;
}

.header .nav .bottomBar .ulLeft .mainNavLink:hover .dropDown .dropDownItem i {
  position: absolute;
  left: -5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: #fdb900;
}

.header .nav .bottomBar .ulLeft .mainNavLink:hover .dropDown .dropDownItem:hover i {
  left: -0.5rem;
}

@media screen and (max-width: 1024px) {
  .header .nav .bottomBar .brand {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .header .nav .bottomBar .wrapper .brand {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .header .nav .topBar {
    display: none;
  }
  .header .nav .bottomBar .wrapper .brand {
    margin-right: 3rem;
  }
  .header .nav .bottomBar .wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .header .nav .bottomBar .wrapper .navToggler {
    display: block;
  }
  .header .nav .bottomBar .wrapper .ulLeft {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    top: 10rem;
    background-color: rgba(0, 0, 0, 0.8);
    height: 0;
    padding: 0;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .nav .bottomBar .wrapper .ulLeft .mainNavLink {
    font-size: 1.8rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 0;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: green;
  }
  .header .nav .bottomBar .wrapper .ulLeft .mainNavLink > a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav .bottomBar .wrapper .ulLeft .mainNavLink > a i {
    font-size: 1.2rem;
    position: absolute;
    right: 0;
  }
  .header .nav .bottomBar .wrapper .ulLeft .mainNavLink > a::after {
    content: "";
    display: none;
    position: absolute;
    height: 0.3rem;
    width: 0%;
    bottom: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header .nav .bottomBar .wrapper .ulLeft .mainNavLink .dropDown {
    position: static;
    top: 0rem;
    left: 12rem;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 50rem;
    -webkit-box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.1);
    z-index: 10 !important;
    overflow: hidden !important;
  }
  .header .nav .bottomBar .wrapper .ulLeft .mainNavLink .dropDown a {
    color: white;
  }
  .header .nav .bottomBar .wrapper .ulLeft .mainNavLink .dropDown:hover .dropDown {
    opacity: 1;
    display: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    height: initial !important;
    padding: 0 !important;
    background-color: #ffffff;
    display: block;
    margin-top: 0;
  }
  .header .nav .bottomBar .wrapper .ulLeft .mainNavLink .dropDown:hover .dropDown .dropDownItem {
    margin-bottom: initial;
    width: 100%;
    position: absolute;
  }
  .header .nav .bottomBar .wrapper .ulLeft .mainNavLink .dropDown:hover .dropDown .dropDownItem a {
    color: #5166a7;
    text-decoration: none;
    margin-left: 1rem;
    padding-right: 1.5rem;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
  }
  .header .nav .bottomBar .wrapper .ulLeft .mainNavLink .dropDown:hover .dropDown .dropDownItem a:hover {
    color: #fdb900;
  }
  .header .nav .bottomBar .wrapper .ulLeft .mainNavLink .dropDown:hover .dropDown .dropDownItem i {
    position: static;
    left: 0rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4rem;
    color: #fdb900;
  }
  .header .nav .bottomBar .wrapper .ulLeft .mainNavLink .dropDown:hover .dropDown .dropDownItem:hover i {
    left: -0.5rem;
  }
}

@media screen and (min-width: 992px) {
  .ulLeft {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ulLeft .mainNavLink {
    font-size: 1.8rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 2rem;
    position: relative;
  }
  .ulLeft .mainNavLink > a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
  }
  .ulLeft .mainNavLink > a i {
    margin-left: 1rem;
    font-size: 1.2rem;
  }
  .ulLeft .mainNavLink > a::after {
    content: "";
    display: block;
    position: absolute;
    height: 0.3rem;
    width: 0%;
    bottom: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .ulLeft .mainNavLink:hover a {
    color: #fdb900;
  }
  .ulLeft .mainNavLink:hover a::after {
    background-color: #fdb900;
    width: 100%;
  }
  .ulLeft .mainNavLink .dropDown {
    position: absolute;
    top: 6rem;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 20rem;
    -webkit-box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.1);
    z-index: -10 !important;
    height: 0;
    overflow: hidden;
  }
  .ulLeft .mainNavLink .dropDown a {
    color: #121212;
  }
  .ulLeft .mainNavLink:hover .dropDown {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 7rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 3rem 1rem;
    background-color: #ffffff;
  }
  .ulLeft .mainNavLink:hover .dropDown .dropDownItem {
    margin-bottom: 1.5rem;
    width: 100%;
    position: relative;
  }
  .ulLeft .mainNavLink:hover .dropDown .dropDownItem a {
    color: #5166a7;
    text-decoration: none;
    margin-left: 1rem;
    padding-right: 1.5rem;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
  }
  .ulLeft .mainNavLink:hover .dropDown .dropDownItem a:hover {
    color: #fdb900;
  }
  .ulLeft .mainNavLink:hover .dropDown .dropDownItem i {
    position: absolute;
    left: -5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4rem;
    color: #fdb900;
  }
  .ulLeft .mainNavLink:hover .dropDown .dropDownItem:hover i {
    left: -0.5rem;
  }
}
/*# sourceMappingURL=Header.module.css.map */