main {
  min-height: 100vh;
}

.aboutUsSection {
  width: 100%;
  background-image: url("../img/buildingbg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 12rem 0 8rem 0;
}

.aboutUsSection .patternDiv {
  width: 40rem;
  height: 40rem;
  top: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}

.aboutUsSection .patternDiv img {
  width: 100%;
  position: absolute;
  right: -20rem;
  top: -20rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.aboutUsSection .container {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.aboutUsSection .container .row .containerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  position: relative;
  height: 100%;
}

.aboutUsSection .container .row .containerLeft .nonOverlap {
  width: 90%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.aboutUsSection .container .row .containerLeft h2 {
  font-size: 8rem;
  color: #f1f1f1;
  text-shadow: 0.1px 0.1px 4px rgba(0, 0, 0, 0.3);
  font-weight: 900;
  text-transform: uppercase;
  -webkit-text-decoration: none solid #f2f2f2;
          text-decoration: none solid #f2f2f2;
  text-align: left;
  text-indent: 0px;
  z-index: 50;
}

.aboutUsSection .container .row .containerLeft .overlap1 {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 50%;
  -webkit-transform: translateX(10%) scaleY(1.1);
          transform: translateX(10%) scaleY(1.1);
  z-index: 10;
}

.aboutUsSection .container .row .containerLeft .powerlines {
  width: 10%;
  position: absolute;
  bottom: 10rem;
  left: 10rem;
}

.aboutUsSection .container .row .containerLeft .road {
  width: 20%;
  position: absolute;
  bottom: 15rem;
  left: 3rem;
}

.aboutUsSection .container .row .containerRight {
  height: 50rem;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.aboutUsSection .container .row .containerRight .wrapper {
  border: 2rem solid #f2f2f2;
}

.aboutUsSection .container .row .containerRight .wrapper .content {
  background-color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 6rem;
  padding-top: 12rem;
}

.aboutUsSection .container .row .containerRight .wrapper .content h2 {
  font-size: 2.4rem;
}

.aboutUsSection .container .row .containerRight .wrapper .content p {
  font-size: 1.4rem;
  margin: 1.5rem 0;
  color: #888888;
}

.aboutUsSection .container .row .containerRight .wrapper .content .ctaWrapper {
  background-color: #1b2a6d;
  width: 15rem;
  height: 5rem;
  border-radius: 0.5rem;
  position: relative;
  margin-bottom: 5rem;
}

.aboutUsSection .container .row .containerRight .wrapper .content .ctaWrapper .cta {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  height: 100%;
}

.aboutUsSection .container .row .containerRight .wrapper .content .ctaWrapper .cta a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  letter-spacing: 0.1rem;
}

.aboutUsSection .container .row .containerRight .wrapper .content .ctaWrapper span {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.5rem;
}

.aboutUsSection .container .row .containerRight .wrapper .content .ctaWrapper:hover span {
  background-color: #db7e01;
  width: 100%;
}

.coresSection {
  width: 100%;
  background-image: url("../img/coresbg.jpg");
  background-position: center;
  background-size: cover;
  padding: 7rem 0;
  background-attachment: fixed;
}

.coresSection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.coresSection .container h4 {
  color: #eb1c24;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding-left: 0.5rem;
  border-left: 0.5rem solid #1b2a6d;
}

.coresSection .container h3 {
  color: #f7f7f7;
  font-size: 3.6rem;
  margin: 1.5rem 0;
  margin-bottom: 4rem;
  font-weight: 700;
  width: 60rem;
  max-width: 90vw;
  text-align: center;
  letter-spacing: 0.1rem;
}

.coresSection .container h3 span {
  color: #eb1c24;
}

.coresSection .container .valueWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.coresSection .container .valueWrapper div {
  width: 18rem;
  height: 7rem;
  background-color: transparent;
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border: 0.1rem solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.coresSection .container .valueWrapper div:hover {
  background-color: #1b2a6d;
}

.servicesSection {
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-image: url("../img/transformerbg.jpg");
  position: relative;
}

.servicesSection::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(247, 247, 247, 0.8);
  position: absolute;
  top: 0;
  z-index: 1;
}

.servicesSection .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  z-index: 10;
  position: relative;
}

.servicesSection .caption h4 {
  font-size: 1.8rem;
  color: #eb1c24;
  font-weight: 600;
  letter-spacing: 0.09rem;
  text-align: center;
  padding-left: 0.5rem;
  border-left: 0.5rem solid #1b2a6d;
}

.servicesSection .caption h3 {
  font-size: 2.4rem;
  margin: 1.5rem;
  color: rgba(27, 42, 109, 0.4);
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-align: center;
  width: 70rem;
  max-width: 90vw;
}

.servicesSection .caption div {
  font-size: 3.6rem;
  text-align: center;
}

.servicesSection .caption div::after {
  content: "";
  height: 0.3rem;
  background-color: #000000;
  width: 25%;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  min-width: 3.5rem;
}

.servicesSection .caption span {
  height: 0.3rem;
  background-color: #000000;
  width: 2.5%;
  display: block;
  margin-top: 1rem;
  min-width: 2rem;
}

.servicesSection .listDi {
  z-index: 10;
  position: relative;
  font-size: 1.6rem;
  padding: 2rem 0;
  width: 100%;
}

.servicesSection .listDi ul {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servicesSection .listDi ul li {
  padding: 1rem;
}

.servicesSection .listDi ul li i {
  background-color: #eb1c24;
  border-radius: 50%;
  color: white;
  padding: 0.5rem;
  margin-right: 1rem;
}

.intersection {
  width: 100%;
  background-image: url("../img/enquiry.jpg");
  background-position: center;
  background-size: cover;
  padding: 3rem 0;
}

.intersection .container {
  font-size: 1.6rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intersection .container span {
  text-align: center;
}

.intersection .container .ctaWrapper {
  background-color: #db7e01;
  height: 5rem;
  width: 15rem;
  position: relative;
  border-radius: 0.5rem;
}

.intersection .container .ctaWrapper div {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 0.5rem;
  z-index: 5;
  position: absolute;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.intersection .container .ctaWrapper span {
  width: 100%;
  height: 100%;
  background-color: #1b2a6d;
  position: absolute;
  top: 0;
  border-radius: 0.5rem;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intersection .container .ctaWrapper:hover span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.footerSection {
  background-color: rgba(0, 0, 0, 0.9);
}

.featured {
  min-height: 50vh;
  width: 100%;
}

@media screen and (max-width: 590px) {
  .aboutUsSection .container .row .containerLeft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutUsSection .container .row .containerLeft h2 {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
  .aboutUsSection .container .row .containerLeft .overlap1 {
    display: none;
  }
  .aboutUsSection .container .row .containerLeft .nonOverlap {
    width: 100%;
  }
  .aboutUsSection .container .row .containerRight .wrapper .content {
    padding: 4rem 2rem 0rem 2rem;
  }
  .intersection .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intersection .container span {
    margin-bottom: 2rem;
  }
  .servicesSection .caption h3 {
    font-size: 1.8rem;
  }
  .servicesSection .caption div {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .coresSection .container .valueWrapper div:last-child {
    margin: 1rem auto;
  }
}

@media screen and (max-width: 389px) {
  .coresSection .container h3 {
    font-size: 2.4rem;
  }
  .coresSection .container .valueWrapper div {
    margin: 1rem auto;
  }
}
/*# sourceMappingURL=Landing.module.css.map */