.header .nav .topBar {
  width: 100%;
  height: 7rem;
  color: white;
  border-bottom: 0.1rem solid #eeeeee;
}

.header .nav .topBar .topWrapper {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.header .nav .topBar .topWrapper .ulTopLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
  margin: 0;
}

.header .nav .topBar .topWrapper .ulTopLeft .ulTopLeftItem {
  padding: 0 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .topBar .topWrapper .ulTopLeft .ulTopLeftItem a {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}

.header .nav .topBar .topWrapper .ulTopLeft .ulTopLeftItem i {
  color: #eb1c24;
  margin-right: 1.5rem;
  font-size: 1.6rem;
}

.header .nav .topBar .topWrapper .ulTopLeft .ulTopLeftItem:nth-child(2) {
  border-left: 0.1rem solid #eeeeee;
  border-right: 0.1rem solid #eeeeee;
}

.header .nav .topBar .topWrapper .ulTopLeft .ulTopLeftItem:hover a {
  color: #eb1c24;
}

.header .nav .topBar .topWrapper .ulTopRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  margin: 0;
}

.header .nav .topBar .topWrapper .ulTopRight .ulTopRightItem {
  padding: 0.5 0.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .topBar .topWrapper .ulTopRight .ulTopRightItem a {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}

.header .nav .topBar .topWrapper .ulTopRight .ulTopRightItem i {
  color: inherit;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .nav .topBar .topWrapper .ulTopRight .ulTopRightItem:hover i {
  color: #eb1c24;
}

.header .nav .bottomBar {
  background-color: transparent;
  height: 10rem;
  width: 100%;
}

.header .nav .bottomBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.header .nav .bottomBar .brand {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header .nav .bottomBar .brand img {
  width: 50%;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .nav .bottomBar .brand .brand-name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0.5rem;
  height: 100%;
  -webkit-transform: translateY(1%);
          transform: translateY(1%);
}

.header .nav .bottomBar .brand .brand-name-wrapper span:first-child {
  font-size: 3rem;
  line-height: 2.5rem;
  color: #eb1c24;
  letter-spacing: 0.1rem;
}

.header .nav .bottomBar .brand .brand-name-wrapper span:last-child {
  font-size: 1.6rem;
  color: white;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.header .nav .bottomBar .navToggler {
  display: none;
  font-size: 3rem;
  color: white;
}

.header .nav .bottomBar .large-screen-navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink {
  font-size: 1.8rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
  position: relative;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink > a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.04rem;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink > a i {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink > a::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.3rem;
  width: 0%;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink:hover a {
  color: #eb1c24;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink:hover a::after {
  background-color: #eb1c24;
  width: 100%;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink .dropDown {
  position: absolute;
  top: 6rem;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 20rem;
  -webkit-box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.1);
  z-index: -10 !important;
  height: 0;
  overflow: hidden;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink .dropDown a {
  color: #121212;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink:hover .dropDown {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 7rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3rem 1rem;
  background-color: #ffffff;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink:hover .dropDown .dropDownItem {
  margin-bottom: 1.5rem;
  width: 100%;
  position: relative;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink:hover .dropDown .dropDownItem a {
  color: #5166a7;
  text-decoration: none;
  margin-left: 1rem;
  padding-right: 1.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink:hover .dropDown .dropDownItem a:hover {
  color: #1b2a6d;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink:hover .dropDown .dropDownItem i {
  position: absolute;
  left: -5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: #eb1c24;
}

.header .nav .bottomBar .large-screen-navigation .mainNavLink:hover .dropDown .dropDownItem:hover i {
  left: -0.5rem;
}

.header .nav .bottomBar .mobile-navigation {
  position: absolute;
  top: 10rem;
  left: 0;
  max-height: 0;
  overflow: hidden;
  background-color: #1b2a6d;
  -webkit-transition: max-height 0.5s, opacity 0s;
  transition: max-height 0.5s, opacity 0s;
  opacity: 0;
  padding-bottom: 2rem;
}

.header .nav .bottomBar .drop-open {
  max-height: calc(200vh - 7.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: visible;
  opacity: 1;
}

.header .nav .bottomBar .drop-open .mainNavLink {
  font-size: 1.6rem;
  height: 2.5rem;
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .nav .bottomBar .drop-open .mainNavLink > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.header .nav .bottomBar .drop-open .mainNavLink > a i {
  position: absolute;
  right: 3rem;
}

.header .nav .bottomBar .drop-open .expand-companys {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 35rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.header .nav .bottomBar .drop-open .expand-services {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 17rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.header .nav .bottomBar .drop-open .dropDown {
  padding: 1.5rem 1rem;
}

.header .nav .bottomBar .drop-open .dropDown .dropDownItem {
  padding: 1rem 0;
  border-bottom: 0.1rem solid #eeeeee;
  margin-bottom: 0.5rem;
}

.header .nav .bottomBar .drop-open .dropDown .dropDownItem a {
  color: #ffffff;
  padding-left: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .header .nav .bottomBar .brand {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .header .nav .bottomBar .wrapper .brand {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .header .nav .topBar {
    display: none;
  }
  .header .nav .bottomBar .wrapper .brand {
    margin-right: 3rem;
  }
  .header .nav .bottomBar .wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .header .nav .bottomBar .wrapper .navToggler {
    display: block;
  }
}
/*# sourceMappingURL=Navigation.css.map */