* {
  padding: 0;
  margin: 0;
}

.header-section {
  position: relative;
  overflow: visible;
  z-index: 100 !important;
}
/* header section fixed on scroll half inner height */
.header-section .fixedBottomClass {
  position: fixed;
  top: -10rem;
  background-color: #ffffff !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  transition: top 0.3s;
}
.header-section .fixedBottomClassActivated {
  top: 0rem !important;
}
.header-section .fixedBottomClass .large-screen-navigation a {
  color: #191919 !important;
}
.carousel-container {
  z-index: 10 !important;
  width: 100%;
  overflow-y: clip !important;
  position: relative !important;
}
.carousel-container button {
  outline: none;
}

.extra-div {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  overflow: hidden;
  display: flex;
}
.extra-div img {
  width: 100%;
}
.main {
  min-height: 100vh;
}
#wrapper {
  width: 90vw !important;
  /* background-color: red; */
}
.mapFrame {
  width: 100%;
  height: 50rem;
  max-height: 50vw;
}

@media screen and (max-width: 992px) {
  .fa-chevron-down {
    display: none;
  }
}
@media screen and (max-width: 598px) {
  .mapFrame {
    max-height: 80vw;
  }
}
